# Postgres connection string
DATABASE_URL=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google OAuth (https://console.cloud.google.com/apis/credentials)
# Authorized redirect URI: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth (https://github.com/settings/developers)
# Authorization callback URL: http://localhost:3000/api/auth/callback/github
GITHUB_ID=
GITHUB_SECRET=
